#div1{
    background-color: lightgray;
    border: solid lightgray;
    display: flex;
    justify-content: space-;
    align-items: center;
    
}

#olx{
    margin-left:80px;
    font-size: 50px;
}
#search{ background-color: white;
margin-left: 50px;
    
    width: 350px;
    height: 50px;
}
.form-control{
    margin-bottom: 10px;
    border: solid ;
    height: 50px;
}
#search1{
    width: 750px;
    margin-top: 15px;
margin-left: 20px;
}

.input-group-append{
    background-color: darkslategrey;
    

}

.button{
    margin-left: 60px;
}

.sell{
    margin-left: 40px;
}


#menu{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
} 


#categories{
    
    margin-left: 50px;
}



.option{
    
    color: black;
}

.youtube{
    

}

.footer{
    display: flex;
background-color: aqua;
    height:250px ;
    border: solid aqua;
}

.div0{
    border: solid aqua; 
    width:150px;


}
.div1{
    text-align: center;
    border: solid aqua;
    width:350px;
}
.div2{
    text-align: center;
    border: solid aqua;
    width: 300px;
}

.div3{
    text-align: center;
    border: solid aqua;
    width: 300px;
}
.div4{
    width: 200px;
    text-align: center;
    border: solid aqua;
}

.div5{
    width: 200px;
    text-align: center;
    border: solid aqua;
}

.face{
    
    margin-right: 15px;
}

.none{
    border: solid palevioletred;
    height: 20px;
    width: 200px;   
}

.countries{
    border: solid palevioletred;
    
}

.empty{
    border:solid palevioletred;
    width: 550px;

}

.zero{
    border: solid palevioletred;
    width: 200px;
}

.parent{
    background-color: palevioletred;
     height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.img{
    height: 550px;
    background-image: url(AUsd2g.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}
.iamge{
    height: 550px;
    background-image: url(K2_002.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* main dive */
.main{
    display:flex;
    align-items: center;
    justify-content: space-around;
    background-color: lightgray;
    border: solid lightgray;
    
}
.first{
    text-align:left ;
    width: 350px;
    height: 400px;
    border:solid white;
    background-color: white;
}

.firstchild{
    
    margin-top: 50px;
    margin-left: 35px;
    border: solid white;
    height: 250px;
    width: 270px;
}

.secondmain{
    border: solid gray;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
}
.second{
    border: solid gray;
    text-align:left ;
    width: 350px;
    height: 400px;
    border:solid white;
    background-color: gray;
}

.secondchild{
    border: solid gray;
    margin-top: 50px;
    margin-left: 35px;
    border: solid white;
    height: 250px;
    width: 270px;
}

.first:hover{
 
    color: black;
    border: 15px solid lightgray;
    background-color:silver;
    box-shadow:10px 4px 4px 4px ;
}

.second:hover{
    color: black;
    background-color: white;
    border: 15px solid white;
    box-shadow:10px 4px 4px 4px  ;
}







